body {
	background-color: none;
	line-height: 2;
	color: #777;
	letter-spacing: 0.01em;
	font-family: 'Muli', sans-serif;
	-webkit-font-smoothing: antialiased;
}
/*
.introduction{
	background-image: url('../images/hero4.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	height: 71rem;
	overflow: auto;
} */
.top-navigation > .content {
	width: 85%;
}
.introduction img{
	width: 100%;
}
.introduction .content{
	width:60rem;
	padding: 0 0.938rem;
	margin: 0 auto;
	min-width: 37.5rem;
}
ul{
	list-style: none;
}
.top-navigation {
	position: fixed;
	width: 100%;
	z-index: 9999;
	display: inline-block;
}
.top-navigation > .content {
	height: 4.375rem;
}
.content {
	width: 65%;
	padding: 0 0.938rem;
	margin: 0 auto;
	min-width: 37.5rem;
}
.top-navigation .links {
	float: left;
	font-family: 'Muli', sans-serif;
	font-weight: 300;
	color: #777;
	font-size: 1.2rem;
	margin-top: 2.5rem;
	margin-left: -40px;
	-webkit-font-smoothing: antialiased;
}
.top-navigation .links li {
	display: inline-block;
	margin-left: 1.563rem;
}
.top-navigation .links li:hover {
	cursor: pointer;
	color: #e65100;
}
.about {
	margin-top: 5rem;
}
h2 {
	text-transform: uppercase;
	letter-spacing: .5em;
	color: #e65100;
	margin-bottom: -10px;
}
.about h1 {
	font-family: 'playfair display', serif;
	font-weight: 700;
	text-align: center;
	font-size: 5rem;
	line-height: 7rem;
	margin: 10rem 0;
	color: #78909c;
}
.projects {
	margin-top: 5em;
}
.card {
	background-color: #eee;
	height: 300px;
	margin: 3rem 0;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: all 0.2s ease-in-out;
}
.card:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.card-1 {
	background-image: url('../images/card-1.png');
	background-repeat: no-repeat;
	background-size: 100%;
}
.card-2 {
	background-image: url('../images/card-2.png');
	background-repeat: no-repeat;
	background-size: 100%;
}
.card-3 {
	background-image: url('../images/card-3.png');
	background-repeat: no-repeat;
	background-size: 100%;
}

