body {
	background-color: none;
	line-height: 2;
	color: #777;
	letter-spacing: 0.03em;
	font-family: 'Muli', sans-serif;
	-webkit-font-smoothing: antialiased;
}
.introduction{
	background-image: url('../images/hero4.jpg');
	background-position: absolute;
	background-position-y: 0%;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 71rem;
	overflow: auto;
}
.introduction .content{
	width:60rem;
	padding: 0 0.938rem;
	margin: 0 auto;
	min-width: 37.5rem;
}
ul{
	list-style: none;
}
.top-navigation {
	position: fixed;
	width: 100%;
	z-index: 9999;
	display: inline-block;
}
.top-navigation > .content {
	height: 4.375rem;
}
.content {
	width: 85%;
	padding: 0 0.938rem;
	margin: 0 auto;
	min-width: 37.5rem;
}
.top-navigation .links {
	float: left;
	font-family: 'Muli', sans-serif;
	font-weight: 300;
	color: #777;
	font-size: 1.2rem;
	margin-top: 2.5rem;
	margin-left: -40px;
	-webkit-font-smoothing: antialiased;
}
.top-navigation .links li {
	display: inline-block;
	margin-left: 1.563rem;
}
.top-navigation .links li:hover {
	cursor: pointer;
	color: #e65100;
}
.about {
	margin-top: 5rem;
	height: 30em;
}
.about > .content {
	width: 65%;
}
h2 {
	text-transform: uppercase;
	letter-spacing: .5em;
	color: #e65100;
	margin-bottom: -10px;
}